.fire-card {
	margin-bottom: 2rem;
	overflow-y: auto;
	padding: 0 20px;
}

.fire-card header p {
	margin-bottom: 15px;
}
.fire-card header p:first-letter {
	text-transform: capitalize;
}
.fire-card h3 {
	margin-bottom: 3px;
}

.fire-card p {
	font-size: 0.9rem;
	margin: 3px 0;
}
.fire-card .status-box {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	text-align: center;
}
.fire-card .status-box>div {
	flex-wrap: wrap;
}
.fire-card .status-box .big-num {
	font-size: 2.35rem;
	margin: 0;
}
.fire-card .status-box .big-num.active {
	color: #DD2D25;
}
.fire-card .status-box .big-num.under-control {
	color: steelblue;
}
.fire-card .status-box .big-num.held {
	color: orange;
}
.fire-card .status-box .label {
	color: #6e6e6e;
	margin: 0;
	text-transform: uppercase;
}


.fire-card .stat-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.fire-card .stat {
	text-align: center;
}
.fire-card .stat-box .stat strong {
	font-weight: 800;
}
.fire-card .stat-box .stat p {
	margin: 0;
}
.fire-card .stat-box .icon {
	background-color: steelblue;
	height: 40px;
	width: 40px;
}
.fire-card .fon-mapview,
.fire-card .leaflet-container {
	height: 275px;
}

@media screen and (min-width: 450px) {
	.fire-card .row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.fire-card h3 {
		margin-top: auto;
	}
	.fire-card .row > div {
		flex-basis: 50%;
		flex-grow: 1;
	}
	.fire-card #fon-mapview,
	.fire-card .leaflet-container {
		flex-basis: 50%;
		height: 200px;
	}
	.fire-card .status-box {
		margin-top: 2.25rem;
	}
}