@import './fonts.css';

body {
	margin: 0;
	padding: 0.25rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root h1 {
	font-family: Shift-BoldItalic, serif;
	margin-bottom: 0.5rem;
}
#root h3 {
	font-family: Shift-Bold, serif;
}

#root p {
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
}